.list-context {
    width:100%;
    border-radius:5px;
    border:1px solid #f0f0f0;
    display: block;
    margin:8px  auto ;
}


.list-title{
    font-size:1.3rem;
    color: #1e90ff;
    padding: 0 0.5rem;
}

